<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        {% block title %}Nexus Archives{% endblock %}
    </title>
	<link rel="stylesheet" href="{{ MEDIA_URL }}common.css" type="text/css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}archives.css" type="text/css">
	<!--[if lt IE 7]>
    <style>
        #articlefloat li {
            width: expression("30em");
        }
    </style>
	<![endif]-->
	{% block include %}{% endblock %}
</head>
<body>
	<h1><a href="/" style="text-decoration:none;">
        {% block header %}The Nexus Archives{% endblock %}
	</a></h1>
    <div class=navbar>
        {% block navbar %}{% endblock %}
    </div>
    <div class=content>
        {% block content %}There seems to be nothing here.{% endblock %}
    </div>
	{% include "footer.html" %}
</body>
</html>
