<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
    <title>
        {% block title %}Nexus Archives{% endblock %}
    </title>
	<link rel="stylesheet" href="{{ MEDIA_URL }}common.css" type="text/css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}archives.css" type="text/css" />
</head>
<body>
    <h1>
        {% block header %}The Nexus Archives{% endblock %}
    </h1>
    <div class=navbar>
        {% block navbar %}{% endblock %}
    </div>
    <div class=content>
        {% block content %}There seems to be nothing here.{% endblock %}
    </div>
</body>
</html>
