{% extends "archive.html" %}

{% block header %}
	{{ block.super }} - {{ issue.date|date:"F d, Y" }}
{% endblock %}

{% block include %}
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}print.js"></script>
{% endblock %}

{% block navbar %}
	<a href="/archive">Archive Home</a>
	<br><br>
	See bottom of page to download originals or
	<a href="{{ issue.calculate_join_url }}">here</a>
	to grab the complete set.
	<h3>From this issue:</h3>
	{% include "issue_snippets.html" %}
{% endblock %}

{% block content %}
{% spaceless %}
    {% for pdf in issue.pdf_set.all %}
        {% for page in pdf.page_set.all %}
            <a class="preview" href="{{ page.pdf.url }}">
                <img class="thumb2" src="{{ page.calculate_thumbnail_url }}">
            </a>
        {% endfor %}
    {% endfor %}
{% endspaceless %}
{% endblock %}
