{% extends "archive.html" %}

{% block header %}
	{{ block.super }} - {{ issue.date|date:"F d, Y" }}
{% endblock %}

{% block navbar %}
	See bottom of page to download originals or
	<a href="{{ issue.calculate_join_url }}">here</a>
	to grab the complete set.
    {% ifnotequal issue.article_set.count 0 %}
	<h3>Articles viewable online:</h3>
		<div>
			<ul class="info articlefloat">
			{% for article in issue.article_set.all %}
			<li>
				{% include "articlelink.html" %}
			</li>
			{% endfor %}
			</ul>
			<br style="clear:left">
		</div>
    {% endifnotequal %}
{% endblock %}

{% block content %}
{% spaceless %}
    {% for pdf in issue.pdf_set.all %}
        {% for page in pdf.page_set.all %}
            <a class="preview" href="{{ page.pdf.url }}">
                <img class="thumb2" src="{{ page.calculate_thumbnail_url }}">
            </a>
        {% endfor %}
    {% endfor %}
{% endspaceless %}
{% endblock %}
