<div class="issue_snippets">
	<ul class="info" id="articlefloat">
	{% for article in issue.article_set.all %}
    {% if article.current %}
	<li class="controllink">
		<span class="art_{{ article.slug }}">{% include "articlelink.html" %}</span>
		<div class="art_{{ article.slug }} hidden-snippet">
		{% if article.image_centric %}
			{% with article.images.all.0 as image %}
				{% include "imagelink.html" %}
			{% endwith %}
			<a class="readmore" href="/{{ article.date|date:"Y/m" }}/{{ article.slug }}"><br>See&nbsp;More...</a>
		{% else %}
			{{ article.snippet }} <a class="readmore" href="/{{ article.date|date:"Y/m" }}/{{ article.slug }}"><br>Read&nbsp;More...</a>
		{% endif %}
		</div>
	</li>
    {% endif %}
	{% endfor %}
	</ul>
	<br style="clear:left">
</div>
