/* disable border-bottom-as-underline here */
a:hover {
	text-decoration: underline;
	border: none;
}

.preview, .page {
    color: gray;
    padding: 5px;
    text-decoration: none;
	outline: none;
}

.navbar {
    margin: 2em;
}

.content {
	margin: 0em 1em 2em 1.5em;
	overflow: hidden;
}

.thumb {
	border: solid 1px gray;
}

.thumb2 {
	border: solid 1px gray;
	margin: 0em .5em 2em .5em;
}

.thumbblock {
	text-decoration: none;
	margin: 0em .5em 2em .5em;
    float: left;
}

.thumbtext {
    text-align: center;
}

.year {
	color: #305cb6;
    text-align: left;
    display: block;
    margin-left: 0;
	border-bottom: 1px solid #305cb6;
}

.yearblock {
    margin-bottom: 1em;
    clear: both;
}
