a {
	font-weight: bold;
	color: #0090bd;
}

/* disable border-bottom-as-underline here */
a:hover {
	text-decoration: underline;
	border: none;
}

body {
	background: #222;
}

.hidden-snippet {
	display: none;
	color: white;
	padding: 1em;
	width: 55em;
	margin-right: 100%;
	clear: both;
	float: left;
}

.readmore {
	text-decoration: none;
	color: gray;
	border: 0;
	font-size: 10pt;
	float: left;
}

.preview, .page {
    color: gray;
    padding: 5px;
    text-decoration: none;
	outline: none;
}

#articlefloat li {
	float: left;
	display: block;
	min-width: 30em;
	width: expression("30em");
	padding-right: 3em;
}

.info {
	padding-bottom: 1em;
}

.navbar {
	color: white;
	margin: 0;
	padding: 1em;
	margin-bottom: 2em;
}

.content {
	margin: 0em 1em 2em 1.5em;
	overflow: hidden;
}

.thumb {
	border: solid 1px gray;
}

.thumb2 {
	border: solid 1px gray;
	margin: 0em .5em 2em .5em;
}

.thumbblock {
	text-decoration: none;
	margin: 0em .5em 2em .5em;
    float: left;
}

.thumbtext {
    text-align: center;
}

.year {
	color: #305cb6;
    text-align: left;
    display: block;
    margin-left: 0;
	border-bottom: 1px solid #305cb6;
}

.yearblock {
    margin-bottom: 1em;
    clear: both;
}
