#search_results .gs-webResult .gs-visibleUrl-short {
  display: none;
}
#search_results .gs-webResult .gs-visibleUrl-long {
  display: block;
}
#search_results .gs-snippet {
  width: 550px;
}
#search_results {
  overflow: hidden;
  padding-left: 1.7em;
  padding-right: 1em;
  padding-top: .5em;
  margin-bottom: -1em;
}
#searchcontrol {
  margin-left: 280px;
  margin-top: 10px;
  margin-bottom: -25px;
  height: 47px;
}
#top_title {
  padding-top: 5px !important;
}
#results {
  padding-top: 20px !important;
}

#tags li, #dates li, #gridtypes li {
  padding: .3em;
}

body, h1, h2, h3, h4, h5, h6, p, img, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  color: #305cb6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.imgsnippet {
  max-height: 300px;
  width: auto;
  padding-right: 1em;
}

.date {
  padding-bottom: .3em;
  padding-top: .1em;
  font-size: 9pt;
}

#tags a {
  color: white;
}

sup {
  color: #305cb6;
  font-size: 6pt;
}

p {
  padding-top: .5em;
  padding-bottom: .5em;
}

#text_content p {
  font-family: Georgia, Helvetica, serif;
}

noscript {
  color: white;
  background-color: orange;
}

.beta {
  font-size: 12pt;
  text-transform: uppercase;
  position: relative;
  display: none;
  top: 9pt;
  left: 5pt;
}

.alist {
  margin: 1em;
  font-size: 10pt;
}

.subtitle {
  font-family: sans;
  text-transform: lowercase;
  font-size: 9pt;
  font-weight: normal;
  font-style: italic;
}

.subauthor {
  font-family: sans;
  font-size: 10pt;
  font-weight: normal;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  color: #FFF;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

h1, h1 a {
  font-family: helvetica;
  font-size: 35pt;
  font-weight: bold;
  letter-spacing: 0.8pt;
  padding-left: 4pt;
  padding-top: 8pt;
  padding-bottom: 0;
  background-color: #007cb0;
  color: white;
  height: 1.5em;
  margin-bottom: 0;
}

h1 a:hover {
  text-decoration: none;
}

h2 {
  font-family: helvetica;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  margin-bottom: .5em;
}

#embedded_content h2 {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#none-visible {
  color: #305cb6;
  display: none;
}

h3 {
  font-size: 13pt;
  font-weight: bold;
  text-align: left;
  padding-top: .5em;
}

h4 {
  font-family: helvetica;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  padding-top: .5em;
  letter-spacing: 1px;
}

#grid {
  padding: 0;
  border: 0;
  width: 980px;
}

#grid li {
  border: 1px solid #BBB;
  font-size: 12pt;
}

#dates li {
  cursor: pointer;
  padding: 0;
  border: 0;
  color: white;
  background-color: #333;
}

ul#dates, ul#gridtypes {
  border: 1px solid #bbb;
  border-top: 0;
}

#dates li li {
  border: 0;
  margin: 0;
  padding: 0.5em;
  color: white;
  cursor: crosshair;
}

#dates li li.activedate {
  background-color: #b8d8ff;
  color: black;
}

#dates li li.useless {
  color: #666;
}

#dates h3 {
  padding: .2em;
  font-size: 10pt;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#thispage {
  font-weight: bold;
}

.pagelink {
  cursor: pointer;
}

#gridtypes li {
  background-color: #222;
  border-bottom: 1px;
}

#gridtypes li a:hover {
  color: white;
}

#gridtypes li a:hover {
  color: white;
}

#gridtypes {
  text-align: center;
}

#tags {
  float: left;
}

#tags li {
  background-color: #222;
  color: #FFF;
  border: 1px solid #666;
  border-left: 1px solid #007cb0;
  cursor: pointer;
}

#tags a, #tags a:hover { color: inherit; text-decoration: none; }

#dates, #gridtypes, #poll {
  float: right;
  clear: right;
  position: relative;
  left: -1em;
  margin-top: 1em;
  margin-right: 0;
}

#poll {
  margin-top: 0;
}

#signed {
  clear: both;
  color: #eee;
  text-align: right;
}

#extra {
  border-top: 1px solid #bbb;
  padding: 1em;
  clear: both;
  overflow: hidden;
  background-color: #eee;
}

#centercolumn {
  position: relative;
  left: 24px;
  width: 580px;
  background-color: white;
  border: 1px solid #bbb;
  border-top: 0;
  color: #222;
  overflow: hidden;
}

#results, #bottom_paginator, #content {
  overflow: hidden;
  padding: 1.5em;
  padding-left: 1.7em;
}

.goto_top {
  text-align: right;
  cursor: pointer;
}

#content {
  overflow: hidden;
  margin: 0;
}

#results li, #sub_results li {
  border: none;
  font-size: 11pt;
  padding-bottom: 1em;
  overflow: hidden;
}

#footer {
  color: #222;
  background-color: white;
  text-align: center;
  padding-bottom: 2em;
  font-size: 8pt;
  letter-spacing: 2.5pt;
  padding-left: 1em;
  padding-right: 1em;
  clear: both;
  width: 958px;
}

#footer a {
  padding: 1em;
  border-bottom: 1em solid white;
}

#footer a:hover {
  border-bottom: 1em solid #305cb6;
  text-decoration: none;
}
  
#footer div {
  margin: 2em; 
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 12pt;
}

#footer p {
  margin-left: 14%;
  margin-right: 14%;
  padding-top: 4em;
  font-size: 8pt;
}

#results h3 {
  font-weight: bold;
}

#tags, #dates, #gridtypes, table.poll-results {
  width: 170px;
}

.useless {
  border: 0;
}

#tags .useless a, .useless a {
  color: #555;
}

#tags li:hover {
  filter: alpha(opacity=80);
  opacity: .8;
}

#tags li.useless:hover {
  cursor: default;
  filter: alpha(opacity=100);
  opacity: 1;
}

#tags .useless.activetag a {
  color: white;
}

.useless a:hover {
  cursor: default;
}

#tags li#alltags {
  background-color: #007cb0;
  border: 1px solid #007cb0;
  color: white;
}

li#alltags {
  color: white;
}

a.active {
  color: gray;
  text-decoration: none;
  cursor: wait;
  background-color: #f2f2f2;
}

#footer a.active {
  border-bottom: 1em solid #305cb6;
}

#extra a.active {
  background-color: #ddd;
}

#gridtypes a {
  color: white;
}

#gridtypes a.active {
  color: gray !important;
  background-color: transparent;
}

.error {
  color: red;
}

.page {
  color: gray;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}

.thumbtext {
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: #eee;
}

.year {
  color: #305cb6;
  text-align: left;
  display: block;
  margin-left: 0;
  border-bottom: 1px solid #305cb6;
}

.yearblock {
  margin-bottom: 1em;
  overflow: hidden;
  height: 100%;
}

.shadow {
  float: left;
  margin: 10px 6px 6px 6px;
}

.shadow .s2,
.shadow .s3,
.shadow .s4 {
  position: relative;
  left: -1px;
  top: -1px;
}

.shadow .s1 {
  background: #F1F0F1;
}

.shadow .s2 {
  background: #DBDADB;
}

.shadow .s3 {
  background: #B8B6B8;
}

.shadow .s4 {
  background: #ffffff;
  border: 1px solid #848284;
}

.paginator {
  font-size: 10pt;
}

#top_paginator {
  position: absolute;
  top: 1.2em;
  left: 1.7em;
}

.paginate-current, .paginate-first, .paginate-last, .paginate-next, .paginate-prev {
  font-weight: bold;
}

.page-end {
  color: #ccc;
}

.type {
  font-weight: normal !important;
}

#tags li.tag-2 {
  border-left: 1px solid green;
}

#tags li.tag-1 {
  border-left: 1px solid #b07200;
}

#tags li.useless, li.useless {
  border: 1px solid #333;
}

#tags li.activetag {
  background-color: #007cb0;
  border: 1px solid #07d;
  color: white;
}

table.poll-results td {
  font-size: 9pt;
  color: black;
}

table td.question {
  font-size: 10pt;
  text-align: center;
  color: black;
  padding-bottom: 5px;
}

table td.bar-graph div.bar-wrapper {
  background-color: #dde;
}

div.bar {
  height: 5px;
  background-color: #07d;
}
