html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

.imgsnippet {
  max-height: 300px;
  display: block;
}

#tags a {
	color: white;
}

sup {
    font-size: 7pt;
    font-family: sans;
}

.beta {
	font-size: 12pt;
	text-transform: uppercase;
	letter-spacing: 0;
	position: relative;
	top: 12pt;
	left: 5pt;
}

.info {
	line-height: 1.5em;
	margin-left: 1em;
}

.subtitle {
	font-family: sans;
	text-transform: lowercase;
	font-size: 9pt;
	letter-spacing: 0;
	font-weight: normal;
	font-style: italic;
}

.subauthor {
	font-family: sans;
	font-size: 10pt;
	color: gray;
	letter-spacing: 0;
	font-weight: normal;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

#dates ::-moz-selection { background-color: transparent; color: inherit }
#tags ::-moz-selection { background-color: transparent; color: inherit }

body {
	color: #FFF;
	background: #000;
	font-size: 11pt;
	font-family: Arial;
}

ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

h1 {
  font-family: helvetica;
  font-size: 40pt;
  font-weight: bold;
  letter-spacing: 0.8pt;
  padding-left: 12pt;
  padding-top: 12pt;
  padding-bottom: 0;
  background-color: #0090bd;
  color: white;
  height: 1.5em;
  margin-bottom: 0;
  cursor: pointer;
}

h2 {
  font-family: helvetica;
  font-size: 18pt;
  font-weight: bold;
  letter-spacing: 1pt;
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: .5em;
}

h3 {
  font-family: helvetica;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 1pt;
  text-align: left;
  padding-top: .5em;
  padding-bottom: .5em;
}

#navbar {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  text-align: right;
}

#grid {
  background-color:#333;
  margin-left:2em;
  margin-right:2em;
  padding:1em;
  border: 0;
}

#grid li {
  border:1px solid #BBB;
  font-size: 12pt;
  padding: 0.3em;
}

#dates li {
  background-color: #222;
  padding: 0;
}

#dates li li {
  border: 1px solid #BBB;
  margin: 0;
  padding: 0.5em;
}

#dates li li:hover {
  background-color: #B8D8FF;
  color: #333;
}

#dates h3 {
  padding: .2em;
  border-bottom: 1px solid #BBB;
  font-size: 10pt;
  text-align: center;
}

#gridtypes li {
  display: inline;
  background-color: #222;
}

#gridtypes span {
  padding: 1em;
}

#gridtypes {
  text-align: center;
}

#gridtypes span {
  color: white;
}

#tags {
  float: left;
  margin-left: -24pt;
}

#tags li {
  cursor: pointer;
  background-color: #222;
  color: #FFF;
}

#tags a, #tags a:hover { color: inherit; border: none; }

#dates {
  float: right;
  position: relative;
  left: 2em;
}

#signed {
  clear: both;
  color: #333;
  margin-top: -2em;
  text-align: right;
}

#results, #grid .controlnav {
  margin-left: 170px;
  margin-right: 170px;
  line-height: 1.5em;
  padding: 1em;
  background-color: white;
  color: #222;
}

#grid .controlnav {
  padding-bottom: 3em;
  clear:none;
}

#results {
  text-align: justify;
}

#results li {
  border: none;
  font-size: 12pt;
  padding-bottom: 1em;
}

#footer {
  background-color: #222;
  color: #BBB;
  text-align: center;
  padding-bottom: 2em;
  font-size: 8pt;
  letter-spacing: 4pt;
  padding-left: 1em;
  padding-right: 1em;
  clear: both;
}

#footer a {
  padding: 1em;
  border-bottom: 1em solid #222;
}

#footer a:hover {
  border-bottom: 1em solid #305cb6;
  text-decoration: none;
}
  
#footer div {
  margin: 2em; 
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 12pt;
}

#footer p {
  margin-left: 14%;
  margin-right: 14%;
  padding-top: 4em;
  font-size: 8pt;
}

#results h3 {
  font-weight: bold;
  letter-spacing: .2em;
}

a {
  color: #305cb6;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #305cb6;
}

#toggleprint {
  float: right;
}

.controllink {
  font-size: 10pt;
}

.controllink:hover {
  border: 0;
  color: blue; /* FIXME */
}

.controlnav {
  clear: left;
  text-align: center;
}

.tagcount {
    float: right;
    font-size: 10pt;
}

.currenttag {
  background-color: #000;
}

li#alltags {
  background-color: #305cb6;
  width: 185px;
}

#tags, #dates {
  width: 184px;
}

.new-article {
  display: none;
}

.useless {
	border: 0;
}

#tags li.useless:hover {
	cursor: default;
}

#tags li.useless {
	border: 1px solid #333;
	color: gray;
}

#tags .useless a {
	color: gray;
}

.useless a:hover {
	cursor: default;
}

#tags li.activetag {
  background-color: green;
  color: white;
}

.activetag:hover {
  background-color: #EEE;
  color: black;
}

li#alltags {
	color: white;
}

li#alltags:hover {
	background-color: #EEE;
	color: black;
}

#tags li:hover {
  background-color: #EEE; /* FIXME make this teal later */
  color: #222;
}
