#articlefloat li {
	width: expression("30em");
}

#tags {
  margin-left: -12pt;
}

.small img {
	width: expression(this.width > 325 ? 325 : true );
}

.medium img {
	width: expression(this.width > 500 ? 500 : true );
}

.thumb img {
	width: expression(this.width > 150 ? 150 : true );
}

.imgsnippet {
	height: expression(this.height > 300 ? 300 : true );
}

