/* disable border-bottom-as-underline here */
a:hover {
	text-decoration: underline;
	border: none;
}

.image-default {
	margin-bottom: 1em;
	float: left;
	clear: both;
    width: 790px;
}

.image-wrap {
	border: 1px solid #eee;
	background-color: #eee;
}

.image-default img {
	border: none;
	max-width: 788px;
}

.small {
	border: none;
	max-width: 327px;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: .2em;
	float: right;
}

.small img {
	max-width: 325px;
	border: none;
}

.thumb {
	float: right;
	border: none;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: .2em;
	max-width: 150px;
}

.thumb .image-wrap {
	border: none;
}

.thumb img {
	border: none;
	max-width: 150px;
}

.author {
	color: #555;
	float: right;
	clear: left;
	font-size: 8pt;
	font-style: italic;
	margin-top: .2em;
	margin-left: 1em;
}

.caption {
	color: #555;
	float: left;
	clear: right;
	font-size: 10pt;
	margin-top: .2em;
	margin-right: 1em;
}

.thumb .author {
	display: none;
}

.thumb .caption {
	display: none;
}

.left {
	float: left;
	margin-left: .2em;
	margin-right: 1.5em;
}
