.image-default {
	margin-bottom: 1em;
	float: left;
    width: 790px;
}

.image-wrap {
	text-align: center;
	border: 1px solid #eee;
}

.image-default img {
	border: none;
	max-width: 788px;
}

.small {
	border: none;
	width: 327px;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: .2em;
	float: right;
}

.small img {
	max-width: 325px;
	border: none;
}

.medium {
	border: none;
	width: 502px;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: .2em;
	float: right;
}

.medium img {
	max-width: 500px;
	border: none;
}

.thumb {
	float: right;
	border: none;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: .2em;
	width: 150px;
}

.thumb .image-wrap {
	border: none;
}

.thumb img {
	border: none;
	max-width: 150px;
}

.author {
	color: #555;
	float: right;
	clear: left;
	font-size: 8pt;
	font-style: italic;
	margin-top: .2em;
	margin-left: 1em;
}

.caption {
	color: #555;
	float: left;
	width: 100%;
	clear: right;
	font-size: 10pt;
	margin-right: 1em;
}

.thumb .author {
	display: none;
}

.thumb .caption {
	display: none;
}

.nocaption .caption {
	display: none;
}

.noattr .author {
	display: none;
}

.showcaption .caption {
	display: inherit;
}

.showattr .author {
	display: inherit;
}

.left {
	float: left;
	margin-left: .2em;
	margin-right: 1.5em;
}

.fill-black .image-wrap {
	background-color: #000;
}

.stretch .image-wrap img {
	width: 100%;
}

.align-right .image-wrap {
	text-align: right;
}

.align-left .image-wrap {
	text-align: left;
}

.noborder .image-wrap {
	border: none;
}

.clear {
	clear: both;
}
