#footer {
  color: #222;
  background-color: white;
  text-align: center;
  padding-bottom: 2em;
  font-size: 8pt;
  letter-spacing: 3pt;
  padding-left: 1em;
  padding-right: 1em;
  clear: both;
  max-width: 1030px;
  /* IE6 below */
  width: auto !important;
  width: 1030px;
}

#footer a {
  border-bottom: 1em solid white;
}
