{% load markup %}
<html>
	<head>
		<title>
			{{ article.title }}
		</title>
		<style>
			{% include "images.css" %}
            body {
                width: 50em;
                border: 1px solid #000;
                margin-left: auto;
                margin-right: auto;
                padding: 1em;
                display: block;
            }
		</style>
	</head>
	<body>
		<h1>
			The Nexus - {{ article.title }}
		</h1>
		<div class=content>
			{{ article.fulltext|textile }}
		</div>
		<p>
		Tags:
		{% for tag in article.tags.all %}
			<a href="/tag/{{ tag }}">
			{{ tag }}
			</a>
		{% endfor %}
		</p>
	</body>
</html>
