{% extends "basic.html" %}

{% block title %}
	Nexus: {{ author }}
{% endblock %}

{% block content %}
<h2>{{ author }}
	<span class="subtitle">
		{% if author.title %}
			<br>
			{% if author.retired %}
				former
			{% endif %}
			{{ author.title }}
		{% endif %}
	</span>
</h2>
	{% if author.article_set.all %}
		<ul id="sub_results" style="margin:0">
			{% for article in author.article_set.all %}
            {% if article.current %}
                {% if not article.image_centric %}
                <li>
					<h3 class="{{ article.slug }}">{% include "articlelink.html" %}</h3>
                    {{ article.snippet }}
				</li>
                {% endif %}
            {% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	{% if author.image_set.all %}
		<br>
		<center>
			{% for image in author.image_set.all %}
				{% include "imagelink.html" %}
			{% endfor %}
		</center>
	{% endif %}
{% endblock %}

{% block extra %}
	<p>
	{% if author.year %}
		Class of {{ author.year }}{% endif %}{% if authors %}{% if author.year %}, {% endif %}
		{% include "authorlinks.html" %}
	{% endif %}
	</p>
{% endblock %}
