<html>

<head>
<title>Nexus: '{{ author }}'</title>
</head>

<body>

<a href="/">home</a>

<h1>{{ author }}{% if author.title %} ({{ author.title }}){% endif %}</h1>
{% ifnotequal author.article_set.count 0 %}
    Articles:
    <ul>
      {% for article in author.article_set.all %}
      <li><h3>{% include "articlelink.html" %}</h3>
        {{ article.snippet }}
      </li>
      {% endfor %}
    </ul>
{% endifnotequal %}
{% ifnotequal author.image_set.count 0 %}
    Images:
    <ul>
      {% for image in author.image_set.all %}
      <li>{% include "imagelink.html" %}</li>
      {% endfor %}
    </ul>
{% endifnotequal %}

</body>

</html>
