<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
	<head>
		<title>
			{% block title %}The Nexus{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}common.css" type="text/css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}images.css" type="text/css" />
		<style>
            .wrapper {
				margin: 0;
				padding: 0;
				width: 832px;
                border: 1px solid #000;
				background-color: white;
				color: black;
            }

			.content {
				padding: 1.5em;
				overflow: hidden;
				padding-top: 0;
				margin: 0;
			}

			#extra {
				padding: 1em;
				background-color: #eee;
			}

			body {
				background-color: #222;
			}

			p {
				padding: .5em;
			}
			{% block style %}{% endblock %}
		</style>
	</head>
	<body>
		<center>
		<div class="wrapper" style="text-align:left">
		<a href="/" style="text-decoration:none;"><h1>
			{% block header %}
			The Nexus
			{% endblock %}
		</h1></a>
        <div class="content">
		<h2>{% block subtitle %}{% endblock %}</h2>
		{% block content %}{% endblock %}
		</div>
		<div id="extra">
			{% block extra %}{% endblock %}
		</div>
        </div>
		</center>
		{% include "footer.html" %}
	</body>
</html>
