{% load webdesign %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Nexus</title>
<style>
{% include "common.css" %}

a {
  color: #305cb6;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #305cb6;
}

#toggleprint {
  float: right;
}

.controllink {
  font-size: small;
}

.controllink:hover {
  border: 0;
  color: darkblue; /* FIXME */
}

#printnav {
  clear: left;
  text-align: center;
}

.tagcount {
    float: right;
    font-size: small;
}

.activetag {
  background-color: #333;
}

#tags li:hover {
  background-color: #EEE; /* FIXME make this teal later */
  color: #222;
}

.notreallyactivetag {
  background-color: #305cb6;
}

</style>
</head>

<script type="text/javascript" src="{{ jquery }}"></script>
<script type="text/javascript">
$(document).ready(function() {
  var have_articles = $("#results li h3").map(function() {
      return $(this).attr("className");
    }).get();

  $("#toggleprint").click(function(event) {
    event.preventDefault();
    if ($(this).text()[0] == 'c') {
      $(this).html("expand &darr;");
      $("#print p").hide("fast");
    } else {
      $(this).html("collapse &uarr;");
      $("#print p").show("fast");
    }
  });

  $("#tags li")
    .not("#alltags")
    .click(function() {
      tagslug = $(this).attr("className").split(" ")[1]; /* HACK */
      $(this).toggleClass("activetag");
      if ($(this).hasClass("activetag")) {
        $(this).animate({
          width: "+=1em",
        }, 200);
        $("#results li")
          .not("."+tagslug)
          .hide("fast");
        $("#tags #alltags").removeClass("activetag notreallyactivetag");

        var selectedtags = $("#tags li").filter(".activetag").map(function() {
          return $(this).attr("className").split(" ")[1]; /* HACK */
        }).get();

        $.post("/ajax/more_tag", {"slug":tagslug, "have":have_articles, "selected":selectedtags},
          function(responseData) {
            for (var i in responseData) {
              var article = responseData[i];
              $("#results").append(article['html']);
              have_articles[have_articles.length] = article['slug'];
            }
          }, "json");

      } else {
        $(this).animate({
          width: "-=1em",
        }, 200);
        var selectedtags = $("#tags li").filter(".activetag").map(function() {
          return $(this).attr("className").split(" ")[1]; /* HACK */
        }).get();

        $("#results li")
          .not("."+tagslug)
          .filter(function(i) {
              for (var j in selectedtags) {
                if (!$(this).hasClass(selectedtags[j])) {
                  return false;
                }
              }
              return true;
            })
          .show("fast");
        if (!$("#tags li").hasClass("activetag")) {
          $("#tags #alltags").addClass("notreallyactivetag");
        }
      }
     });

  $("#tags #alltags").click(function() {
    $(this).addClass("notreallyactivetag");
    $("#tags .activetag").not("#alltags")
      .removeClass("activetag")
      .animate({
        width: "-=1em",
      }, 200);
    $("#results li").show("fast");
  });

  $("#tags li a").click(function(event) {
    event.preventDefault();
  });
});
</script>

<body>
<h1>The Nexus</h1>
<ul id="navbar">
  <li>mission</li>
  <li>about</li>
</ul>

<div id="print">
  <a id="toggleprint" class="controllink" href="#">collapse &uarr;</a>
  <h2>From the Print Edition</h2>
  <ul>
  <li><h3><a href="#">{% lorem 4 w random %}</a></h3>
    {% lorem 1 p random %}
  </li>

  <li><h3><a href="#">{% lorem 2 w random %}</a></h3>
    {% lorem 1 p random %}
  </li>

  <li><h3><a href="#">{% lorem 2 w random %}</a></h3>
    {% lorem 1 p random %}
  </li>

  <li><h3><a href="#">{% lorem 3 w random %}</a></h3>
    {% lorem 1 p random %}
  </li>
  </ul>

<div id="printnav">
  <a class="controllink" href="#">more articles from this issue</a> | 
  <a class="controllink" href="/archive/">see complete issue archive</a>
</div>
</div>

<div id="grid">
  <ul id="gridtypes"><li>Articles</li><li>Blogs</li><li>Photos</li><li>Sports</li></ul>
  <ul id="tags">
    {% for tag in tags %}
    <li class="t{{ tag.num }} {{ tag.slug }}"><a href="/tag/{{ tag.slug }}">
        <div class="tagcount">({{ tag.article_set.count }})</div>
        {{ tag.name }}
    </a></li>
    {% endfor %}
    <li class="notreallyactivetag" id="alltags">(Show All)</li>
  </ul>
  <ul id="dates">
    <li><h3>2007-08</h3>
      <ul>
	<li>August</li>
	<li>September</li>
	<li>November</li>
	<li>December</li>
	<li>January</li>
	<li>February</li>
	<li>March</li>
	<li>April</li>
	<li>May</li>
	<li>June</li>
      </ul>
    </li>
    <li><h3>2008-09</h3>
      <ul>
	<li>August</li>
	<li>September</li>
	<li>November</li>
	<li>December</li>
	<li>January</li>
	<li>February</li>
	<li>March</li>
	<li>April</li>
	<li>May</li>
	<li>June</li>
      </ul>
    </li>
  </ul>
  <ul id="results">
    {% for article in articles %}
    <li class="{{ article.tagclasses }}"><h3 class="{{ article.slug }}"><a href="/{{ article.date|date:"Y/m" }}/{{ article.slug }}">{{ article.title }}</a></h3>
      {{ article.snippet }}
    </li>
    {% endfor %}
  </ul>
  <div id="signed">&mdash;nt '09</div> {# don't remove this, it's actually important #}
</div>

<div id="footer">
  <div><p>&copy; mmviii the nexus, westview</p></div>
  <a href="#">mission</a>
  <a href="#">staff</a>
  <a href="#">join the nexus</a>
  <a href="#">advertising</a>
  <a href="#">about</a>
</div>


</body> </html>
