{% load webdesign %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Nexus</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}common.css" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}grid.js"></script>
</head>

<body>
<a href="/">
<h1>The Nexus</h1>
</a>

{% if showprint %}
    <div id="print">
      <a id="toggleprint" class="controllink" href="#">collapse &uarr;</a>
      <h2>From the Print Edition</h2>
      <ul>
	  {% for article in current_issue.article_set.all|slice:"0:4" %}
		<li style="overflow: hidden" class="{{ article.tagclasses }} {% if hidden %}new-article{% endif %}">
		  <h3 class="{{ article.slug }}">{% include "articlelink.html" %}</h3>
		  {{ article.snippet }}
		</li>
	  {% endfor %}
      </ul>
    </div>
{% endif %}

<div id="grid">
  <ul id="gridtypes">
    <li><a href="/archive/{{ current_issue.date }}"><span>current articles</span></a></li>
    <li><a href="/archive"><span>issue archive</span></a></li>
  </ul>
  <ul id="tags">
    {% for tag in tags %}
    <li class="t{{ tag.num }}" id="{{ tag.slug }}"><a href="/tag/{{ tag.slug }}">
        <div class="tagcount">({{ tag.article_set.count }})</div><span>
        {{ tag.name }}
        </span>
    </a></li>
    {% endfor %}
    <li class="activetag" id="alltags">(Show All)</li>
  </ul>
  <ul id="dates">
    <li><h3>2007-08</h3>
      <ul>
  <li>August</li>
  <li>September</li>
  <li>November</li>
  <li>December</li>
  <li>January</li>
  <li>February</li>
  <li>March</li>
  <li>April</li>
  <li>May</li>
  <li>June</li>
      </ul>
    </li>
    <li><h3>2008-09</h3>
      <ul>
  <li>August</li>
  <li>September</li>
  <li>November</li>
  <li>December</li>
  <li>January</li>
  <li>February</li>
  <li>March</li>
  <li>April</li>
  <li>May</li>
  <li>June</li>
      </ul>
    </li>
  </ul>
  <ul id="results">
    {% for article in articles %}
      {% include "article_snippet.html" %}
    {% endfor %}
  </ul>

  <div class="controlnav" id="remainwrapper">
    <a class="controllink" href="#">load more articles (<span id="remaining">{{ remaining }}</span> remaining of <span id="total">{{ total }}</span>)</a>
  </div>

  <div id="signed">&mdash;nt '09</div>  {# don't remove this, it's actually important #}
</div>

{% include "footer.html" %}

</body> </html>
