<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html> <head>
<title>Nexus</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}common.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}images.css" type="text/css">
<!--[if lt IE 7]>
<link rel="stylesheet" href="{{ MEDIA_URL }}ie6.css" type="text/css">
<![endif]-->
<!--[if lt IE 8]>
<link rel="stylesheet" href="{{ MEDIA_URL }}ie7.css" type="text/css">
<![endif]-->
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jquery-disable-text-select.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}grid.js"></script>
</head>

<body>
<h1>
<a href="/">The Nexus<span class="beta">beta</span></a>
</h1>

<div id="grid">
<noscript>Javascript is required to filter by tag and date.</noscript>
  <ul id="gridtypes">
    <li><a href="/archive/{{ current_issue.date }}"><span>Current Issue</span></a></li>
    <li><a href="/archive"><span>Issue Archive</span></a></li>
  </ul>
  <ul id="tags">
    <li class="activetag" id="alltags">(Show All)</li>
    {% for tag in tags %}
    <li id="tag_{{ tag.slug }}"><a class="not_taglink" href="/tag/{{ tag.slug }}">
        <span >
        {{ tag.name }}
        </span>
    </a></li>
    {% endfor %}
  </ul>
  <ul id="dates" title="drag to select a date range">
	<!--[if lt IE 7]>
	<li id="IE6_DATE_PLACEHOLDER" style="display: inline !important; padding: 0 !important;"></li>
	<![endif]-->
    {% for year in dates %}
    <li class="year"><h3 title="select all in {{ year.year }}">{{ year.year }}</h3><ul>
        {% for month in year.dates %}
        <li class="month" id="ym_{{ month|date:"Ym"}}">{{ month|date:"F" }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
  </ul>
  <div id="centercolumn">
  <div id="back_button" class="embed" style="display:none"><a href="#back">Back to Results</a></div>
  <ul id="results" class="results">
	<!--[if lt IE 7]>
	<li id="IE6_PLACEHOLDER" style="display: inline !important; padding: 0 !important;"></li>
	<![endif]-->
    {% for article in articles %}
      {% if article.current %}
          {% include "article_snippet.html" %}
      {% endif %}
    {% endfor %}
	<li id="none-visible">
      <h3>No matching articles.</h3>
	  Select fewer tags to the left, or specify a wider range of dates.
	</li>
  </ul>
  <div id="embedded_content" class="embed"></div>
	<ul id="paginator" class="results">
    {% ifnotequal 1 paginator.num_pages %}
	{% for n in paginator.page_range %}
		{% ifequal n 1 %}
			<li>{{ n }}</li>
		{% else %}
			<li class="pagelink" id="n_{{ n }}"><a href="#page{{ n }}">{{ n }}</a></li>
		{% endifequal %}
	{% endfor %}
    {% endifnotequal %}
	</ul>
    </div>

  <div id="signed">&mdash;el;nt '09</div>  {# don't remove this, it's actually important #}
</div>

{% include "footer.html" %}
</body> </html>
