</p> <!-- XXX keep div out of p -->
{% spaceless %}
<div class="image-default {{ classes }}">
    <a href="{{ viewlink }}">
        <div class="image-wrap">
			<img id="{{ slug }}" alt="{{ slug }}" src="{{ image }}">
        </div>
    </a>
    <span class="author">
        {% if any_not_staff %}Image courtesy of {% endif %}
		{% include "authorlinks.html" %}
    </span><br>
    <span class="caption">
        {{ caption }}
    </span>
</div>
{% endspaceless %}
<p> <!-- XXX keep div out of p -->
