<html>
	<body>
        <h2>
        Image by
            <!-- TODO: teach it grammar -->
            {% for author in obj.authors.all %}{% if not forloop.first %}, {% endif %}{{ author }}{% endfor %}.
        </h2>
		<p>
			Creation date: {{ obj.date }}
		</p>
		<p>
		Tags:
		{% for tag in obj.tags.all %}
			<a href="/tag/{{ tag.slug }}">
			{{ tag }}
			</a>
		{% endfor %}
		</p>
		<p>
			Referenced in:
			<ul>
				{% for article in obj.article_set.all %}
				<li>
				<a href="/{{ article.date|date:"Y/m" }}/{{ article.slug }}#{{ obj.slug }}">
					{{ article.title }}
				</a>
				</li>
				{% endfor %}
			</ul>
		</p>
        <p>
            {{ obj.caption }}
        </p>
        <img src="{{ obj.image.url }}">
	</body>
</html>
