{% extends "info.html" %}
{% load markup %}

{% block style %}
#extra {
	display: normal;
}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% for title in titles %}
        <h3>{{ title.0 }}</h3>
        {% for author in title.1 %}
        <ul style="padding-left: 1em">
            <a href="/author/{{ author.0.slug }}">
            <li>{{ author.0 }}
            <sup>{% for n in author.1 %}<a href='#note{{ n }}'>{{ n }}</a>{% endfor %}
            </sup>
            </li>
            </a>
        </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block extra %}
<ul>
    {% for group in groups %}
    <li id="note{{ forloop.counter }}">
    [{{ forloop.counter }}] <a href="/author/{{ group.slug }}">{{ group }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
