{% extends "basic.html" %}

{% block content %}
	{% if tag.article_set.all %}
		<h2>Articles tagged '{{ tag.name }}'</h2>
		<ul id="sub_results" style="margin:0">
			{% for article in tag.article_set.all %}
            {% if article.current %}
                {% if not article.image_centric %}
                    <li><h3>{% include "articlelink.html" %}</h3>
                        {{ article.snippet }}
                    </li>
                {% endif %}
            {% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	{% if tag.image_set.all %}
		<h2>Images tagged '{{ tag.name }}'</h2>
		<br>
		<center>
			{% for image in tag.image_set.all %}
				{% include "imagelink.html" %}
			{% endfor %}
		</center>
	{% endif %}
{% endblock %}
