<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Nexus</title>
<style>
{% include "common.css" %}

a {
  color: #305cb6;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #305cb6;
}

#toggleprint {
  float: right;
}

.controllink {
  font-size: small;
}

.controllink:hover {
  border: 0;
  color: darkblue; /* FIXME */
}

#printnav {
  clear: left;
  text-align: center;
}

.activetag {
  background-color: gray;
}

</style>
</head>

<script type="text/javascript" src="{{ MEDIA_URL }}/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#toggleprint").click(function(event) {
    event.preventDefault();
    if ($(this).text()[0] == 'c') {
      $(this).html("expand &darr;");
      $("#print p").hide("fast");
    } else {
      $(this).html("collapse &uarr;");
      $("#print p").show("fast");
    }
  });

  $("#tags li").click(function() {
    tagslug = $(this).attr("className").split(" ")[1];
    $(this).toggleClass("activetag");
    if ($(this).hasClass("activetag")) {
      $("#results li")
        .not("."+tagslug)
        .hide("fast");
    } else {
      $("#results li")
        .not("."+tagslug)
        .show("fast");
    }
  });

  $("#tags li a").click(function(event) {
    event.preventDefault();
  });
});
</script>

<body>
<h1>The Nexus</h1>
<ul id="navbar">
  <li>mission</li>
  <li>about</li>
</ul>

<div id="print">
  <a id="toggleprint" class="controllink" href="#">collapse &uarr;</a>
  <h2>From the Print Edition</h2>
  <ul>
  <li><h3><a href="#">Lorem ipsum</a></h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris mi diam, ornare non, consectetuer sed, congue eu, nisi. Proin tincidunt. Maecenas dictum lorem. Fusce non tortor ac dui porttitor tempor.</p></li>

  <li><h3><a href="#">Suspendisse sollicitudin euismod mauris</a></h3>
  <p>Morbi rhoncus, tortor eu tincidunt cursus, lacus lorem viverra velit, sit amet pulvinar nibh est at ante. Maecenas congue, magna id faucibus cursus, felis urna pulvinar eros, sed sollicitudin lectus nibh nec dolor. Pellentesque tincidunt molestie pede.</p></li>

  <li><h3><a href="#">Quisque posuere</a></h3>
  <p>Nullam vel dui nec nulla tempor condimentum. Sed sit amet pede ac ipsum tempor pellentesque. Sed facilisis metus sed nunc. Sed dictum, lorem in tempor auctor, libero libero aliquam justo, non pellentesque felis justo sed pede. Donec leo mi, luctus bibendum, nunc.</p></li>

  <li><h3><a href="#">Nulla malesuada</a></h3>
  <p>Sed imperdiet ligula sed sem. Nullam urna purus, ultrices at, convallis in, malesuada id, est. Sed rutrum tincidunt velit. Pellentesque vel ipsum. Quisque dui arcu, ultrices gravida, vulputate vitae, tempor non, tortor.</p></li>

  <li><h3><a href="#">Vivamus erat</a></h3>
  <p>Curabitur lorem urna, cursus eget, pellentesque non, imperdiet sed, augue. Cras molestie lacus in nulla. Donec facilisis. Sed blandit porttitor magna. Donec ut neque quis sem blandit tincidunt.</p></li>
</ul>

<div id="printnav">
  <a class="controllink" href="#">more articles from this issue</a> | 
  <a class="controllink" href="/archive/">see full archives</a>
</div>
</div>

<div id="grid">
  <ul id="gridtypes"><li>Articles</li><li>Blogs</li><li>Photos</li><li>Sports</li></ul>
  <ul id="tags">
    {% for tag in tags %}
    <li class="t{{ tag.num }} {{ tag.slug }}"><a href="/tag/{{ tag.slug }}">{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
  <ul id="dates">
    <li><h3>2007-08</h3>
      <ul>
	<li>August</li>
	<li>September</li>
	<li>November</li>
	<li>December</li>
	<li>January</li>
	<li>February</li>
	<li>March</li>
	<li>April</li>
	<li>May</li>
	<li>June</li>
      </ul>
    </li>
    <li><h3>2008-09</h3>
      <ul>
	<li>August</li>
	<li>September</li>
	<li>November</li>
	<li>December</li>
	<li>January</li>
	<li>February</li>
	<li>March</li>
	<li>April</li>
	<li>May</li>
	<li>June</li>
      </ul>
    </li>
  </ul>
  <ul id="results">
    {% for article in articles %}
    <li class="{{ article.tagclasses }}"><h3><a href="/{{ article.date|date:"Y/m" }}/{{ article.slug }}">{{ article.title }}</a></h3>
      {{ article.snippet }}
    </li>
    {% endfor %}
  </ul>
  <div id="signed">&mdash;nt '09</div> {# don't remove this, it's actually important #}
</div>

<div id="footer">
  <div><p>&copy; mmviii the nexus, westview</p></div>
  <a href="#">mission</a>
  <a href="#">staff</a>
  <a href="#">join the nexus</a>
  <a href="#">advertising</a>
  <a href="#">about</a>
</div>


</body> </html>
